<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home page</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet"  type="text/css" href="/css/main2.css" />
</head>

<body>
  <section class="front">
    <nav class="goto">
      <img src="/img/logo2.png" alt="logo" class="navlogo" />

      <div class="tabs">
        <a href="\fresh\\template\\aboutUs.html" target="_blank">About us</a>
        <a href="/kriyeta-3.0/integration/services/index.html" target="_blank">Services</a>
        <a href="/kriyeta-3.0/integration/professionals/index.html" target="_blank">Professionals</a>
      </div>


      <button
      type="button"
      onclick="window.location.href = '{{ var_home }}' ; "
      
      class="btn btn-success btn-outline-light"
      id="mainbtn"
      style="
        height:40px;
        width: 80px;

        --bs-btn-font-size: 100%;
        
      "
      
    >
      Explore 
    </button>
    </nav>

    <div class="main-text">
      <h1 class="bolder"> The goal is to LIVE,</h1>
      <h1> not just breathe. <br>
        So, <h1 class="bolder">let's ACHIEVE THE GOAL</h1>
    </div>
  </section>

  <div class="parition"> </div>


  <main class="para-section">

    <section class="main">

      <div class="image"><img src="/img/Untitled design.png" alt=""></div>
      <div class="title"><span>
          <h1>A POETIC Message for YOU from YOUR COMPANION</h1>
        </span>

      </div>

      <div class="para">
        <p> <b>What if,</b>Your mental health was visible to you,<br>
          Your depression was vocal <br>
          Your stress would have been treated with some therapies, <br>


          Your overthinking would have been cured with some medicines, <br>
          Won't you consult a doctor then? <br>

        <p class="space">
          So <b>why not now?</b> <br>
          When We Can treat your depression, <br>
          Can make u aware of all your passions! <br>
          When your Mental Health can be cured <br>
          For every single pain you've endured, <br>
          When counseling can help you live a happy life <br>
          Without searching for anyone else to match your vibe! <br>
          Why not make our mental health a priority without hesitation? <br>
          And move out of all the negativity without any validations. <br>
          <b>Coz why not!</b>
        </p>


      </div>

    </section>


  </main>

  <div class="parition"> </div>

  <section class="card-section">

    <div class="card-heading">
      <h1> A COMMUNITY FOR YOU, BY US.</h1>
      <P>We welcome you here, These commmunities are built with an aim to help individuals dealing with mental health
        issues or problems , but find it difficult to express. Here,with an anonymous identity you can talk to people
        facing same type of problems and to people who habve overcomed their challenges with SUHIRD.we also have
        Junior psychologist to help you and make it easrier for you to express.
      <p>><b> Don't Hesitate,coz Life is too small to hesitate! SHARE and EXPLORE coz,The earth is too big to be alone
          in anything.
        </b></p>
      </P>
    </div>
    <div class="card-area">


      <div class="card">


        <div class="card-image"><img width="188" src="/img/careerissue.png" alt="">
        </div>

        <div class="capsule">


          <span>The Earth is too big to be Alone in
            Anything!</span>

        </div>
        <div class="content">
          <h2>CAREER PROBLEMS</h2>
          <p>This Community is build bY US, for people dealing with stress,anxiety or depression due
            career realted probelms.Our Goal is to make individuals know that they are not alone and provide them
            witht the best platform to share their thoughts and feeling unbothered about identity or security.
            <br>
          </p>
        </div>
        <div class="card-button"><button>JOIN,EXPRESS AND EXPLORE</button></div>
      </div>

      <div class="card">

        <div class="card-image"><img width="188" src="/img/relationshipmanagement.jpg" alt=""></div>

        <div class="capsule">

          <span>The Earth is too big to be Alone in
            Anything!</span>


        </div>


        <div class="content">
          <h2>RELATIONSHIP ISSUES</h2>
          <p>This Community is build bY us, for people dealing with stress,anxiety or depression due to
            their Relationship Issues.Our Goal is to make individuals know that they are not alone and provide them
            with a platform, where they can to express their thoughts and feeling unbothered about identity or security.

          </p>
        </div>
        <div class="card-button"><button>JOIN,EXPRESS AND EXPLORE</button></div>
      </div>
      <div class="card">

        <div class="card-image"><img width="188" src="/img/Screen Shot 2021-05-14 at 3.42.25 PM.webp" alt=""></div>

        <div class="capsule">

          <span>The Earth is too big to be alone in anything!</span>


        </div>
        <div class="content">
          <h2>FINANCIAL ISSUES</h2>
          <p>
            This Community is build bY us, for people dealing with stress,anxiety or depression due to
            their Financial Problems.Our Goal is to make individuals know that they are not alone and provide them
            with a platform, where they can express their thoughts and feeling unbothered about identity or security.
          </p>
        </div>
        <div class="card-button"><button>JOIN,EXPRESS AND EXPLORE</button></div>
      </div>

    </div>

  </section>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>