<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MAIN</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet"  type="text/css" href="/css/main.css" />
  </head>

  <body>
    <section class="front">
      <nav class="goto">
        <img src="/img/logo2.png" alt="logo" class="navlogo" />

        <div class="tabs">
          <a href="">About us</a>
          <a href="">Services</a>
          <a href="">Community</a>
        </div>

        <div class="buttons">
         
          <button
            type="button"
            onclick="window.location.href = '{{ var_home }}' ; "
            
            class="btn btn-success btn-outline-light"
            id="mainbtn"
            style="
              --bs-btn-padding-y: 17%;
              --bs-btn-padding-x: 35%;
              --bs-btn-font-size: 90%;
            "
            
          >
            Explore 
          </button>
        </div>
      </nav>

      <div class="main-text">
        <img src="/img/mtext.png" alt="">
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
