body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.front {
  height: 100vh;
  width: 100vw;

  background-image: url("/img/b3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.goto {
  width: 100vw;
  height: 10vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navlogo {
  width: 350px;

  position: relative;
  top: 1vh;
}

.tabs {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.front .goto .tabs a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  transition: 100ms;
}

.front .goto .tabs a:hover {
  text-decoration: underline;
  transform: scale(1.02);
}

.front .main-text {
  position: relative;
  top: 20%;
  left: 4%;
}

.front .main-text img {
  width: 40vw;
  height: 48vh;
}

