body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.front{
    height:100vh;
    width:100vw;

    background-image: url("../assets/b3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.goto{
    width: 100vw;
    height : 10vh;
    

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.navlogo{
    width:20vw;
    height:100%;
    position: relative;
    top:1vh;

}


.tabs{
    width:40%;
    display:flex;
    flex-direction: row;
    gap: 10%;
    
}

.front .goto .tabs a{
    text-decoration: none;
    color:rgb(16, 10, 10);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: 100ms;
}

.front .goto .tabs a:hover{
   text-decoration: underline;
   transform: scale(1.02);

    
}

.front .goto .buttons{
    display: flex;
    flex-direction: row;
}


.front .main-text {
    position:relative;
    top:20%;
    left:4%
    
}

.front .main-text img{
    width:40vw;
    height: 48vh;

}